
        .part-1{
            display: inline-block;
            width: 500px;
            margin-right: 20px;
            margin-left: 100px;
            vertical-align: top;
        }

        .part-2{

                display: inline-block;
                width: 500px;
                margin-left: 100px;

        }
        .right-part , .left-part{
                position: absolute;
                width: 220px;
        }
        .right-part{
            margin-left: 220px
        }
        .bottom-part{
            position: absolute;
            margin-top: 300px ;
        }
        
        #header{
            color:rgb(1, 61, 103);
            margin-left: 90px;
        }

        #fname , #email, #dob, #id, #curr-semester{
            width: 200px;
        }
        #lname , #pnumber , #gender , #department , #cgpa {
             width: 200px;
        }

        #exp , #portfolio,  #classtime{
            width: 400px;
        }
        #website, #github{
            width: 200px;
        }

        
        .Register-button{
           width: 400px;
           text-align: center;
           background-color: rgb(1, 61, 103);
           color: white;
           padding:10px;
           border: none;
           border-radius: 5px;
           cursor: pointer;
           transition: background-color 0.15s;
        }
        .Register-button:hover{
            background-color: rgba(1, 61, 103, 0.5);
        }

        .table{
            border: none ;
        }
        th{
            background-color: rgb(56, 2, 87);
            color: white;
            padding: 10px;
            text-align: center;
        }
        td{
            text-align: center;
        }
        #academics , #skills , #projects , #transcript , #education  , #contact , #experience{
            color:rgb(56, 2, 87) ;
            font-weight: bold;
            font-size: 22px;
            margin-bottom: 0px;
        }
        .profilename{
            color:rgb(56, 2, 87) ;
            text-align: center;
            margin-bottom: 0px;
            margin-top: 0px;

        }
        #sub{
            margin-top: 0px;
            text-align: center;
            font-size: 14px;
            color: #a79797;
        }

        #s1 ,#s2 , #s3 ,  #s4 ,#s5 , #s6{
            color: white;
            background-color: rgb(56, 2, 87) ;
            border: none;
            border-radius: 30px;
            width: 150px;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
             margin-right:8px;
            display: inline-block;
        }
        .profile-pic{
            display: block;
            border: none;
            border-radius: 500px;
            width: 100px;
            height: 100px;
            background-repeat: no-repeat;
            background-size: cover;
            margin-left: 200px;
        }
        #gender , #department{
            margin-bottom: 7px;

        }

        input{
            border: 1px solid rgba(6, 92, 168, 0.555);
            padding-bottom: 4px;
            padding-top: 4px;
        }
        hr{
                margin-top: 0px;
                border: none;
                height: 3px; 
                background: linear-gradient(to right, rgb(107, 0, 170), #ff00ff);
        }
      .uni-part , .exp-1 , .exp-2 , .project-1{
        border: none;
        border-left: 10px solid rgb(107, 0, 170);
        padding-left: 10px;
       
      }

 :root {
    --value: 3.75; /* Change this for different fixed values */
    --max:4.00
  }

  #cgpa-bar {
    pointer-events: none; /* Lock the slider */
    -webkit-appearance: none;
    width: 400px;
    height: 8px;
    border-radius: 5px;
    
    /* Gradient fill up to value, gray after */
    background: linear-gradient(
      to right, 
      rgb(107, 0, 170), 
      #ff00ff calc((var(--value) / var(--max)) * 100%), 
      #f3f3f3 calc((var(--value) / var(--max)) * 100%)
    );
    margin-left:30px;
    
  }
