
        body{
            background-color:beige;
        }
        #reset{
            background-color:rgb(190, 4, 4) ;
            border:none;
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
            color: white;
            border-radius:5px;
            cursor: pointer; 
            transition:opacity 0.15s; 
            margin-left:250px;
            margin-right:10px;
        }
        #reset:hover{
            opacity: 0.7;
        }
        #submit{
            background-color: rgb(1, 89, 1) ;
            border:none;
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
            color: white;
            border-radius:5px;
            cursor: pointer; 
             transition:opacity 0.15s; 
        }
        #submit:hover{
            opacity:0.7;
        }
       
        
        @font-face {
            font-family: roboto;
        }
